[mariadb]
name = MariaDB
description = MariaDB Server
# baseurl = http://yum.mariadb.org/10.6/rhel8-amd64
baseurl = https://downloads.mariadb.com/MariaDB/mariadb-{{ mariadb_release }}/yum/rhel/$releasever/$basearch
module_hotfixes = 1
gpgkey = https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
gpgcheck = 1
enabled = 1
module_hotfixes = 1
